@media screen {
  /* --- Reset Styles --- */
  * {
    text-align: center;
    list-style: none;
    margin: 1mm;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  
  /* Links inside the navbar */
.navbar a {
  margin: 0 auto;
  width: 15%;
  padding: 8px;
  border: 2px solid;
  border-color: black;
  background-color: transparent;
  transition: 0.10s;
  font-weight: bolder;
  font-size: 16px;
  color: black;
}

  body {
    background-color: black;
    color: black;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  .wrapper {
    background: rgb(230, 227, 194);
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  a+a {  
    margin-left: auto;
  }
  
  h1 {
    color: black;
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 6px solid black;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content {
    float: none;
    width: 100%;
  }


  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
