<html>
  <form action='/posts' method="post">
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" value=""><br>
    <label for="description">Write some text here?: </label>
    <input type="text" name="description" id="description" value=""><br>

    <label for="password">Picture: </label>
    <input type="text" name="image_url" value=""><br>
    <input type="submit" name="submit" id="submit">
  </form>
</html>