<div class="row d-flex justify-content-center">
    <div class="col-lg-8">
        <h1> Sorry! This page doesn't exists.</h1>
        <a href="/posts"><button class="btn btn-outline-primary">Go Home</button></a>
    </div>
</div>